@import '../../assets/variables.scss';

div.breadcrumbs {

    position: relative;
    
    background-color: #f9f9f9;
    background-color: transparent;

    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    text-align: left;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

    color: #000;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Public Sans', sans-serif;

    a {
        float: left !important;
        text-decoration: none;
        margin-right: 8px !important;
    }

    a:not(:first-child):before {
        content: "/";
        clear: both;
        padding-right: 8px;

    }

    a:hover:not(:first-child):before {
        color: green !important;
    }

    a:last-child {
        font-weight: 600;
    }
    
}